@using FileNewProject.Models;
@model SanPham
<link href="~/Content/magnific-popup.css" rel="stylesheet" />

@{
    ViewBag.Title = "ViewDetails";
    Layout = null;
}
<div class="wrapper">
    <!--Single Product Area Start-->
    <div class="single-product-area mb-115">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-5">
                    <div class="product-details-img-tab">
                        <!--Product Tab Content Start-->
                        <div class="tab-content single-product-img">
                            <div class="tab-pane fade show active" id="product1">
                                <div class="product-large-thumb img-full">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="@Url.Content("~/HinhAnhSP/AnhBia/"+Model.AnhBia)">
                                            <img src="@Url.Content("~/HinhAnhSP/AnhBia/"+Model.AnhBia)" alt="">
                                        </a>
                                        <a href="@Url.Content("~/HinhAnhSP/AnhBia/"+Model.AnhBia)" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product2">
                                <div class="product-large-thumb img-full">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="@Url.Content("~/HinhAnhSP/AnhSl/"+Model.AnhSl)">
                                            <img src="@Url.Content("~/HinhAnhSP/AnhSl/"+Model.AnhSl)" alt="">
                                        </a>
                                        <a href="@Url.Content("~/HinhAnhSP/AnhSl/"+Model.AnhSl)" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product3">
                                <div class="product-large-thumb img-full">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="@Url.Content("~/HinhAnhSP/AnhSli/"+Model.AnhSli)">
                                            <img src="@Url.Content("~/HinhAnhSP/AnhSli/"+Model.AnhSli)" alt="">
                                        </a>
                                        <a href="@Url.Content("~/HinhAnhSP/AnhSli/"+Model.AnhSli)" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product4">
                                <div class="product-large-thumb img-full">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="@Url.Content("~/HinhAnhSP/AnhSlid/"+Model.AnhSlid)">
                                            <img src="@Url.Content("~/HinhAnhSP/AnhSlid/"+Model.AnhSlid)" alt="">
                                        </a>
                                        <a href="@Url.Content("~/HinhAnhSP/AnhSlid/"+Model.AnhSlid)" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product5">
                                <div class="product-large-thumb img-full">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="@Url.Content("~/HinhAnhSP/AnhSlide/"+Model.AnhSlide)">
                                            <img src="@Url.Content("~/HinhAnhSP/AnhSlide/"+Model.AnhSlide)" alt="">
                                        </a>
                                        <a href="@Url.Content("~/HinhAnhSP/AnhSlide/"+Model.AnhSlide)" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--Product Tab Content End-->
                        <!--Product Tab Menu Start-->
                        
                        <!--Product Tab Menu End-->
                    </div>
                </div>

                <div class="col-md-12 col-lg-7">
                    <!--Product Details Content Start-->
                    <div class="product-details-content">

                        <h2>@Model.TenSP</h2>
                       
                        <div class="single-product-price">
                            <span class="regular-price">@String.Format("{0:0,0}", @Model.GiaBan)</span>
                        </div>
                        <div class="product-description">
                            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>*@
                            <p>Nơi lắp ráp: @Model.XuatXu</p>
                            <p>Màu sắc: @Model.Mau</p>
                            <p>Camera: @Model.Camera</p>
                            <p>Thời gian bay: @Model.ThoiGianBay</p>
                            <p>Thời gian sạc: @Model.ThoiGianSac</p>
                            <p>Trọng lượng: @Model.TrongLuong</p>
                        </div>
                        @*<p class="stock in-stock">150 in stock</p>*@
                        <div class="single-product-quantity">
                            <form class="add-quantity" action="#">
                                <div class="product-quantity">
                                    <input value="1" type="number">
                                </div>
      
                            </form>
                            @using (Html.BeginForm("InsertShoppingCart", "ShoppingCart", new { @iMaDrone = Model.MaSP, @strURL = Request.Url.ToString() }))
                            {
                                <div class="add-to-link">
                                    <button class="product-btn" data-text="add to cart">Mua hàng</button>
                                </div>
                            }
                            <br />
                            @using (Html.BeginForm("InsertWishlist", "ShoppingCart", new { @iMaDrone = Model.MaSP, @strURL = Request.Url.ToString() }))
                            {
                                <div class="add-to-link">
                                    <button class="product-btn" data-text="add to cart">Yêu Thích</button>
                                </div>
                            }

                        </div>

                    </div>
                    <!--Product Details Content End-->
                </div>
            </div>
        </div>
    </div>
    <!--Single Product Area End-->

    <!--Popup video Start-->


 
        <!--Popup video End-->
        <!--Product Description Review Area Start-->
  
    </div>
<!--Product Description Review Area Start-->
