@using FileNewProject.Models;
@model SanPham
<link href="~/Content/magnific-popup.css" rel="stylesheet" />

@{
    ViewBag.Title = "ViewDetails";
    Layout = "~/Views/Shared/HeadFoot.cshtml";
}
<div class="wrapper">
    <!--Single Product Area Start-->
    <div class="single-product-area mb-115">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-5">
                    <div class="product-details-img-tab">
                        <!--Product Tab Content Start-->
                        <div class="tab-content single-product-img">
                            <div class="tab-pane fade show active" id="product1">
                                <div class="product-large-thumb img-full">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="@Url.Content("~/HinhAnhSP/AnhBia/"+Model.AnhBia)">
                                            <img src="@Url.Content("~/HinhAnhSP/AnhBia/"+Model.AnhBia)" alt="">
                                        </a>
                                        <a href="@Url.Content("~/HinhAnhSP/AnhBia/"+Model.AnhBia)" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product2">
                                <div class="product-large-thumb img-full">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="@Url.Content("~/HinhAnhSP/AnhSl/"+Model.AnhSl)">
                                            <img src="@Url.Content("~/HinhAnhSP/AnhSl/"+Model.AnhSl)" alt="">
                                        </a>
                                        <a href="@Url.Content("~/HinhAnhSP/AnhSl/"+Model.AnhSl)" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product3">
                                <div class="product-large-thumb img-full">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="@Url.Content("~/HinhAnhSP/AnhSli/"+Model.AnhSli)">
                                            <img src="@Url.Content("~/HinhAnhSP/AnhSli/"+Model.AnhSli)" alt="">
                                        </a>
                                        <a href="@Url.Content("~/HinhAnhSP/AnhSli/"+Model.AnhSli)" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product4">
                                <div class="product-large-thumb img-full">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="@Url.Content("~/HinhAnhSP/AnhSlid/"+Model.AnhSlid)">
                                            <img src="@Url.Content("~/HinhAnhSP/AnhSlid/"+Model.AnhSlid)" alt="">
                                        </a>
                                        <a href="@Url.Content("~/HinhAnhSP/AnhSlid/"+Model.AnhSlid)" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product5">
                                <div class="product-large-thumb img-full">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="@Url.Content("~/HinhAnhSP/AnhSlide/"+Model.AnhSlide)">
                                            <img src="@Url.Content("~/HinhAnhSP/AnhSlide/"+Model.AnhSlide)" alt="">
                                        </a>
                                        <a href="@Url.Content("~/HinhAnhSP/AnhSlide/"+Model.AnhSlide)" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--Product Tab Content End-->
                        <!--Product Tab Menu Start-->
                        <div class="product-menu">
                            <div class="nav product-tab-menu">
                                <div class="product-details-img">
                                    <a class="active" data-toggle="tab" href="#product1"><img src="@Url.Content("~/HinhAnhSP/AnhBia/"+Model.AnhBia)" alt=""></a>
                                </div>
                                <div class="product-details-img">
                                    <a data-toggle="tab" href="#product2"><img src="@Url.Content("~/HinhAnhSP/AnhSl/"+Model.AnhSl)" alt=""></a>
                                </div>
                                <div class="product-details-img">
                                    <a data-toggle="tab" href="#product3"><img src="@Url.Content("~/HinhAnhSP/AnhSli/"+Model.AnhSli)" alt=""></a>
                                </div>
                                <div class="product-details-img">
                                    <a data-toggle="tab" href="#product4"><img src="@Url.Content("~/HinhAnhSP/AnhSlid/"+Model.AnhSlid)" alt=""></a>
                                </div>
                                <div class="product-details-img">
                                    <a data-toggle="tab" href="#product5"><img src="@Url.Content("~/HinhAnhSP/AnhSlide/"+Model.AnhSlide)" alt=""></a>
                                </div>

                            </div>
                        </div>
                        <!--Product Tab Menu End-->
                    </div>
                </div>

                <div class="col-md-12 col-lg-7">
                    <!--Product Details Content Start-->
                    <div class="product-details-content">

                        <h2>@Model.TenSP</h2>
                        <div class="single-product-reviews">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="single-product-price">
                            <span class="regular-price">@String.Format("{0:0,0}", @Model.GiaBan)</span>
                        </div>
                        <div class="product-description">
                            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>*@
                            <p>Nơi lắp ráp: @Model.XuatXu</p>
                            <p>Màu sắc: @Model.Mau</p>
                            <p>Camera: @Model.Camera</p>
                            <p>Thời gian bay: @Model.ThoiGianBay</p>
                            <p>Thời gian sạc: @Model.ThoiGianSac</p>
                            <p>Trọng lượng: @Model.TrongLuong</p>
                        </div>
                        @*<p class="stock in-stock">150 in stock</p>*@
                        <div class="single-product-quantity">
                            <form class="add-quantity" action="#">
                                <div class="product-quantity">
                                    <input value="1" type="number">
                                </div>

                            </form>
                            @using (Html.BeginForm("InsertShoppingCart", "ShoppingCart", new { @iMaDrone = Model.MaSP, @strURL = Request.Url.ToString() }))
                            {
                                <div class="add-to-link">
                                    <button class="product-btn" data-text="add to cart">Mua hàng</button>
                                </div>
                            }
                            <br />
                            @using (Html.BeginForm("InsertWishlist", "ShoppingCart", new { @iMaDrone = Model.MaSP, @strURL = Request.Url.ToString() }))
                            {
                                <div class="add-to-link">
                                    <button class="product-btn" data-text="add to cart">Yêu Thích</button>
                                </div>
                            }

                        </div>
                        <div class="wishlist-compare-btn">
                            <a href="https://www.youtube.com/watch?v=uaEj5UMEo1Y" class="video wave">Xem Video</a>
                        </div>
                        <div class="product-meta">
                            <span class="posted-in">
                                Thể loại:
                                <a href="#">Flycam</a>,
                                <a href="#">Đồ chơi công nghệ</a>
                            </span>
                        </div>
                        <div class="single-product-sharing">
                            <h3>Chia sẻ thông tin sản phẩm</h3>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Product Details Content End-->
                </div>
            </div>
        </div>
    </div>
    <!--Single Product Area End-->
    <!--Popup video Start-->

    <script src="~/scripts/Js/jquery.min.js"></script>

    <script src="~/scripts/Js/jquery.magnific-popup.min.js"></script>
    <script id="rendered-js">
            $('.video').magnificPopup({
                type: 'iframe'
            });

    </script>

    <!--Popup video End-->
    <!--Product Description Review Area Start-->
    <div class="product-description-review-area mb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-review-tab">
                        <!--Review And Description Tab Menu Start-->
                        <ul class="nav dec-and-review-menu">
                            <li>
                                <a class="active" data-toggle="tab" href="#description">Mô tả</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#reviews">Đánh Giá</a>
                            </li>
                        </ul>
                        <!--Review And Description Tab Menu End-->
                        <!--Review And Description Tab Content Start-->
                        <div class="tab-content product-review-content-tab" id="myTabContent-4">
                            <div class="tab-pane fade active show" id="description">
                                <div class="single-product-description">
                                    <p>@Model.TenSP là chiếc máy bay điều khiển nhỏ gọn nhưng vô cùng mạnh mẽ, giúp bạn có thể thoải mái tung hành những ý tưởng trên bầu trời một cách dễ dàng mà không gặp bất kỳ trở ngại nào. Những chi tiết phức tạp được ẩn sau kích thước nhỏ gọn, tất cả đã tạo nên DJI Mavic Pro - một trong những chiếc camera bay tinh xảo nhất. Với bộ vi xử lý 24 nhân hiệu năng cao, hệ thống truyền tải dữ liệu hoàn toàn mới với phạm vi hoạt động lên đến 7km. Bên cạnh đó, DJI Mavic Pro còn được trang bị 5 cảm biến hình ảnh, camera 4K chống rung và gimbal 3 trục.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="reviews">
                                <div class="fb-like" data-href="http://localhost:59143/Home/ViewDetails" data-width="450" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                                <br />
                                <div class="fb-comments" data-href="http://localhost:59143/Home/ViewDetails" data-width="670" data-numposts="5"></div>



                            </div>
                        </div>
                    </div>
                    <!--Review And Description Tab Content End-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--Product Description Review Area Start-->
