@using FileNewProject.Models;
@model List<SanPham>
<link href="~/Content/Css/Index.css" rel="stylesheet" />
@{
    ViewBag.Title = "DroneColor";
    Layout = "~/Views/Shared/Shop.cshtml";
}
@{int i = 0;}
@foreach (var item in Model)
{
    i++;
    <div class="col-md-4 col-lg-3">
        <div class="single-product mb-25">
            <div class="product-img img-full">
                <a href="single-product.html">
                    <img src="@Url.Content("~/HinhAnhSP/AnhBia/"+item.AnhBia)" alt="">
                </a>
                <span class="onsale">Giảm Giá</span>
                <div class="product-action">
                    <ul>
                        <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="product-content">
                <h2><a href="@Url.Action("ViewDetails","Home",new { @MaDrone = item.MaSP })">@item.TenSP</a></h2>
                <div class="product-price">
                    <div class="price-box">
                        <span class="regular-price">@item.GiaBan</span>
                    </div>
                    <div class="add-to-cart">
                        <a href="#">Đat hÀNG</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="open-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!--Modal Img-->
                        <div class="col-md-5">
                            <!--Modal Tab Content Start-->
                            <div class="tab-content product-details-large" id="myTabContent">
                                <div class="tab-pane fade show active" id="single-slide1" role="tabpanel" aria-labelledby="single-slide-tab-1">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="@Url.Content("~/HinhAnhSP/AnhBia/"+item.AnhBia)" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide2" role="tabpanel" aria-labelledby="single-slide-tab-2">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="@Url.Content("~/HinhAnhSP/AnhSl/"+item.AnhSl)" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide3" role="tabpanel" aria-labelledby="single-slide-tab-3">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="@Url.Content("~/HinhAnhSP/AnhSli/"+item.AnhSli)" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide4" role="tabpanel" aria-labelledby="single-slide-tab-4">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="@Url.Content("~/HinhAnhSP/AnhSlid/"+item.AnhSlid)" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide5" role="tabpanel" aria-labelledby="single-slide-tab-4">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="@Url.Content("~/HinhAnhSP/AnhSlide/"+item.AnhSlide)" alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                @*<div class="tab-pane fade" id="single-slide6" role="tabpanel" aria-labelledby="single-slide-tab-4">
                                        <!--Single Product Image Start-->
                                        <div class="single-product-img img-full">
                                            <img src="img/single-product/large/single-product6.jpg" alt="">
                                        </div>
                                        <!--Single Product Image End-->
                                    </div>*@
                            </div>
                            <!--Modal Content End-->
                            <!--Modal Tab Menu Start-->
                            <div class="single-product-menu">
                                <div class="nav single-slide-menu owl-carousel" role="tablist">
                                    <div class="single-tab-menu img-full">
                                        <a class="active" data-toggle="tab" id="single-slide-tab-1" href="#single-slide1"><img src="@Url.Content("~/HinhAnhSP/AnhBia/"+item.AnhBia)" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-2" href="#single-slide2"><img src="@Url.Content("~/HinhAnhSP/AnhSl/"+item.AnhSl)" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-3" href="#single-slide3"><img src="@Url.Content("~/HinhAnhSP/AnhSli/"+item.AnhSli)" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-4" href="#single-slide4"><img src="@Url.Content("~/HinhAnhSP/AnhSlid/"+item.AnhSlid)" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-5" href="#single-slide5"><img src="@Url.Content("~/HinhAnhSP/AnhSlide/"+item.AnhSlide)" alt=""></a>
                                    </div>
                                    @*<div class="single-tab-menu img-full">
                                            <a data-toggle="tab" id="single-slide-tab-6" href="#single-slide6"><img src="img/single-product/small/single-product6.jpg" alt=""></a>
                                        </div>*@
                                </div>
                            </div>
                            <!--Modal Tab Menu End-->
                        </div>
                        <!--Modal Img-->
                        <!--Modal Content-->
                        <div class="col-md-7">
                            <div class="modal-product-info">
                                <h1>@item.TenSP</h1>
                                <div class="modal-product-price">
                                    <span class="old-price">$74.00</span>
                                    <span class="new-price">@item.GiaBan</span>
                                </div>
                                <a href="single-product.html" class="see-all">See all features</a>
                                <div class="add-to-cart quantity">
                                    <form class="add-quantity" action="#">
                                        <div class="modal-quantity">
                                            <input type="number" value="1">
                                        </div>

                                        @*<div class="add-to-link">
                                                <button class="form-button" data-text="add to cart">add to cart</button>
                                            </div>*@
                                    </form>
                                    @using (Html.BeginForm("InsertShoppingCart", "ShoppingCart", new { @iMaDrone = item.MaSP, @strURL = Request.Url.ToString() }))
                                    {
                                        <div class="add-to-link">
                                            <button class="product-btn" data-text="add to cart">add to cart</button>
                                        </div>
                                    }
                                </div>
                                <div class="cart-description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus.</p>
                                </div>
                                <div class="social-share">
                                    <h3>Share this product</h3>
                                    <ul class="socil-icon2">
                                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Modal Content-->
                    </div>
                    <!--Modal Content-->
                </div>
            </div>
        </div>
    </div>
    if (i % 3 == 0)
    {
        <div style="clear:both"></div>
    }
}
